%div#progress
  %div#progress-bar
  %div#progress-text
    Loading map... 

%div#map
%div#navigation.menu-ui
  %a{ :href => "#", :data => { 'zoom' => 5 } }
    State
  %a{ :href => "#", :data => { 'zoom' => 10 } }
    Zipcode
  %a{ :href => "#", :data => { 'zoom' => 17, 'position' => '21.2689, -157.817'} }
    Marker

/ = javascript_include_tag "vendor/leaflet.markercluster-src.js"
:javascript
  
  ////adapted from marker-clustering-realworld 50000 example
  var default_pos = [19.542915, -155.665857]
  var tiles = L.tileLayer('http://{s}.tiles.mapbox.com/v3/stephs829.j7hoj6gn/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',  
    }),
    latlng = L.latLng(default_pos);

  var map = L.map('map', { center: latlng, zoom: 5, layers: [tiles] });

  ////progress bar
  var progress = document.getElementById('progress');
  var progressBar = document.getElementById('progress-bar');

  function updateProgressBar(processed, total, elapsed, layersArray) {
    if (elapsed > 1000) {
      // if it takes more than a second to load, display the progress bar:
      progress.style.display = 'block';
      progressBar.style.width = Math.round(processed/total*100) + '%';
    }

    if (processed === total) {
      // all markers processed - hide the progress bar:
      progress.style.display = 'none';
    }
  }

  ////load map markers
  var markers = L.markerClusterGroup({ chunkedLoading: true, chunkProgress: updateProgressBar });

  var markerList = [];

  //console.log('start creating markers: ' + window.performance.now());
  $.ajax({
    url: '/api/businesses',
    data: 'JSON',
    success: function(data) {
      var marker, title;
      $.each(data, function(key, val) {
        var business = val.business;
        if(business.latitude != null && business.longitude != null) {
          if (business["yelp_url"]) {
            title = "<div class='custom-popup-content' data-id='" + business["id"] + "'><div class='popup-img'><a class='popup-yelp-link' href='" + business["yelp_url"] + "'><img src='" + business["yelp_avatar"] + "'></a></div><div class='popup-full-address'><span class='popup-name'>" + business["name"] + "</span>" + business["full_address"] + "</div></div>";
          } else {
            title = "<div class='custom-popup-content' data-id='" + business["id"] + "'><div class='popup-img'><img src='#{asset_path('default-map-img.png')}'></div><div class='popup-full-address'><span class='popup-name'>" + business["name"] + "</span>" + business["full_address"] + "</div></div>";
          }
          marker = L.marker(L.latLng(business["latitude"], business["longitude"]), {title: title});
          marker.bindPopup(title);
          markerList.push(marker);
        } 
        //else {
          //console.log(business.full_address);
        //}
      });
      markers.addLayers(markerList);
      map.addLayer(markers);
    },
    error: function(a,b,c) {
      console.log(a,b,c);
    }
  });
  
  $("#navigation").click(function() {
    $.ajax({
      url: '/api/businesses/categories',
      data: 'JSON',
      success: function(data) {
        $.each(data, function(key, val) {
          var business = val.business;
          var business_id = business["id"];
          var category_ids = business["category_ids"];
          $.each(category_ids, function( index, value ) {
            if (value >= 2 && value <= 19) {
              //automotive
            } else if (value >= 20 && value <= 61) {
              //community and government
            } else if (value >= 62 && value <= 106) {
              //healthcare
            } else if (value >= 107 && value <= 122) {
              //landmarks
            } else if (value >= 123 && value <= 176) {
              //retail
            } else if (value >= 177 && value <= 307) {
              //businesses and services
            } else if (value >= 308 && value <= 371) {
              //social
            } else if (value >= 372 && value <= 414) {
              //sports and recreation
            } else if (value >= 415 && value <= 429) {
              //transportation
            } else if (value >= 430 && value <= 440) {
              //travel
            } 
          });
        });
      },
      error: function(a,b,c) {
        console.log(a,b,c);
      }
    });
  });

  // $.getJSON("/api/businesses", function(data) { });

  //console.log('start clustering: ' + window.performance.now());

  //console.log('end clustering: ' + window.performance.now());

  ////navigate to different zoom levels
  document.getElementById('navigation').onclick = function(e) {
    e.preventDefault();
    var zoom = e.target.getAttribute('data-zoom');
    var pos = e.target.getAttribute('data-position');
    if (zoom && !pos) {
        map.setView(default_pos, zoom);
    } else if (zoom && pos) {
      pos = pos.split(',');
      map.setView(pos, zoom);
    }
  }