/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require vendor/MarkerCluster
 *= require vendor/MarkerCluster.Default
 *= require_self
 */

#map {
  width: 100%;
  height: 800px;
  border: 1px solid #ccc;
}

#progress {
  display: block;
  position: absolute;
  z-index: 1000;
  left: 150px;
  bottom: 50px;
  width: 500px;
  height: 50px;
  margin-top: -20px;
  margin-left: -100px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding: 2px;
 }

 #progress-bar {
  width: 0;
  height: 100%;
  background-color: #76A6FC;
  border-radius: 4px;
}

.menu-ui {
  background:#fff;
  position:absolute;
  top:20px;
  right:20px;
  z-index:1;
  border-radius:4px;
  width:120px;
}

.menu-ui a {
  font-size: 20px;
  color: rgb(160,160,160);
  display: block;
  margin: 0;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid rgb(210,210,210);
  text-align: center;
  font-family: 'Calibri';
}

.menu-ui a:first-child {
  border-radius:4px 4px 0 0;
}

.menu-ui a:last-child {
  border:none;
  border-radius:0 0 4px 4px;
}

.menu-ui a:hover {
  background:rgb(235,235,235);
}

#progress-text {
  position: absolute;
  left: 0px;
  top: -36px;
  font-size: 36px;
  font-family: 'Calibri';
  text-transform: uppercase;
  color: rgb(160,160,160);
}

.marker-cluster div {
  font: 14px "Calibri", Arial, Helvetica, sans-serif;
}

/*popup styles*/

.leaflet-popup-content {
  width: 250px;
  height: 95px;
  margin: 15px;
}

.popup-yelp-link img {
  border: 3px solid #C41208;
  max-height: 90px;
}
.popup-img {
  float: right;
}
.popup-full-address .popup-name {
  font-weight: bold;
  display: block;
  font-size: 16px;
  line-height: 20px;
}
.leaflet-popup-content {
  font-family: 'Calibri';
  font-size: 14px;
}
.popup-full-address {
  width: 145px;
}
.leaflet-popup-close-button { 
  display: none; 
}