/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require vendor/MarkerCluster
 *= require vendor/MarkerCluster.Default
 *= require vendor/screen
 *= require_self
 */

#map {
  width: 100%;
  height: 800px;
}

.leaflet-popup-content {
  width: 250px;
  height: 90px;
  margin: 20px;
}
.popup-yelp {
  float: left;
}

.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
}

.menu-ui a {
  font-size:13px;
  color:#404040;
  display:block;
  margin:0;padding:0;
  padding:10px;
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  text-align:center;
}

.menu-ui a:first-child {
  border-radius:3px 3px 0 0;
}

.menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
}

.menu-ui a:hover {
  background:#f8f8f8;
  color:#404040;
}